<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" />
          <link href="/css/main.css" rel="stylesheet" media="screen" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    </head>
    <body {% if app.request.attributes.get('_route') == 'postcard_public_homepage' %} class="homepage" {% endif %}>
      {% include ':Component:navbar.html.twig' %}
      {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script>
          function goLogIn(){
              window.location = "{{ path('_facebook_check') }}";
          }

          function onFbInit() {
              if (typeof(FB) != 'undefined' && FB != null ) {
                  FB.Event.subscribe('auth.statusChange', function(response) {
                    if (response.session || response.authResponse) {
                      setTimeout(goLogIn, 500);
                    } else {
                      window.location.href = "{{ path('_security_logout') }}";
                    }
                  });
                  {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    FB.getLoginStatus(function(response) {
                      if ('response' === 'connected') {
                        // User logged into FB and app authorized
                        window.location.href = "{{ path('_facebook_check') }}"
                      } else if('response' === 'not_authorized') {
                        // User logged into FB only
                      }
                    });
                  {% endif %}
              }
          }
          $(document).ready(function(){

          });
        </script>
    </body>
</html>
