{% extends '::base.html.twig' %}

{% block body %}
<h1>Welcome to Postcard Homepage</h1>
<p> You can see the list of Postcards <a href="{{ path('postcard_postcard_index') }}" >here</a></p>
{% endblock %}
