{% extends 'PostcardPostcardBundle::base.html.twig' %}

{% block content %}
<h1>Edit your Postcard</h1>
<form action="{{ path('postcard_postcard_edit', {'id' : postcard.id}) }}" method="post" {{ form_enctype(form) }}>
	{{ form_errors(form) }}
    {{ form_widget(form) }}

    <input class="btn btn-success" type="submit" />
</form>
{% endblock %}
