{% extends 'PostcardPostcardBundle::base.html.twig' %}

{% block content %}
<h1>List of all Postcards</h1>
{% set counter = 0 %}
<div class="row">
{% for postcard in postcards %}
	{% if counter != 0 and (counter % 3) == 0 %}
	</div>
	<div class="row">
	{% endif %}
	{{ postcard_mini(postcard) }}
	{% set counter = counter + 1 %}
{% endfor %}
</div>
<a class="btn btn-info" href="{{path('postcard_postcard_new')}}">Publish your Postcard</a>
{% endblock %}
