{% extends 'PostcardPostcardBundle::base.html.twig' %}

{% block content %}
<h1>List of all Postcards</h1>
{{ postcard_mini_list(postcards, 3) }}
<a class="btn btn-info" href="{{path('postcard_postcard_new')}}">Publish your Postcard</a>
{% endblock %}
